<div class="mt-4">
    <form method="post">
        <div class="form-group">
            <label for="search">TÌm kiếm</label>
            <input type="text" class="form-control" id="search" name="q" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>
